.toggleForm, .notesForm {
    display: inline-block;
}

.recipe_header, .ingredients_li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    display: flex;
}

.fake-btn:focus {
    box-shadow: none;
}

.flex {
    display: flex;
    height: 2rem;
    justify-content: start;
    align-items: flex-end;
}

.box-and-text {
    display: flex;
    align-items: center;
    vertical-align: middle !important;
}