{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Recipe Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Chicken and Dumplings</td>
                </tr>
                <tr>
                    <td>Lasagna</td>
                </tr>
                <tr>
                    <td>Chili</td>
                </tr>
                <tr>
                    <td>Macaroni and Cheese</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}