{% extends "layout.html" %}

{% block title %}
    List
{% endblock %}

{% block main %}
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Shopping List</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>milk</td>
                </tr>
                <tr>
                    <td>bread</td>
                </tr>
                <tr>
                    <td>eggs</td>
                </tr>
                <tr>
                    <td>salt</td>
                </tr>
                <tr>
                    <td>carrots</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}