{% extends "layout.html" %}

{% block title %}
    Chicken and Dumplings
{% endblock %}

{% block main %}
    <div class="container">
        <div class="card">
            <h1 class="card-header display-5 mb-3">Chicken and Dumplings</h1>
        <div class="card mb-3 mx-auto" style="width: 80%;">
            <div class="card-header recipe_header">
              <span class="lead">Ingredients</span><span class="ms-5 small">(<em>edit</em>)</span>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">3c flour</li>
              <li class="list-group-item">1 egg</li>
              <li class="list-group-item">1 tsp baking powder</li>
              <li class="list-group-item">2 chicken breasts</li>
              <li class="list-group-item">9c water</li>
              <li class="list-group-item">11 chicken bouillon cubes</li>
            </ul>
        </div>
        <div class="card mb-3 mx-auto" style="width: 80%;">
            <div class="card-header recipe_header">
                <span class="lead">Preperation Directions</span><span class="ms-5 small">(<em>edit</em>)</span>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum iure, amet ipsum voluptatibus facere natus placeat quaerat corrupti reiciendis, sed ex enim. Iste hic reiciendis suscipit accusamus deleniti nemo possimus.
            </div>
        </div>
        <div class="card mb-3 mx-auto" style="width: 80%;">
            <div class="card-header recipe_header">
                <span class="lead">Cooking Directions</span><span class="ms-5 small">(<em>edit</em>)</span>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum iure, amet ipsum voluptatibus facere natus placeat quaerat corrupti reiciendis, sed ex enim. Iste hic reiciendis suscipit accusamus deleniti nemo possimus.
            </div>
        </div>
        <div class="card mb-3 mx-auto" style="width: 80%;">
            <div class="card-header recipe_header">
                <span class="lead">Notes</span><span class="ms-5 small">(<em>edit</em>)</span>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum iure, amet ipsum voluptatibus facere natus placeat quaerat corrupti reiciendis, sed ex enim. Iste hic reiciendis suscipit accusamus deleniti nemo possimus.
            </div>
        </div>
        </div>
    </div>
{% endblock %}